#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%; /* Genişlik ayarlandı */
}

.current-player {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.player-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.player {
  background-color: #f1f1f1;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 5px;
  width: calc(50% - 10px); /* Yan yana yerleşim için genişlik ayarlandı */
  box-sizing: border-box; /* Padding ve border genişlik hesaplamalarına dahil edilir */
  position: relative;
}

.player.current {
  border: 2px solid #28a745;
}

.player-name {
  font-size: 16px; /* Font boyutu küçültüldü */
  font-weight: bold;
  margin-bottom: 10px;
}

.player-score {
  margin-top: 10px;
  font-size: 12px; /* Font boyutu küçültüldü */
}

.result {
  font-size: 10px; /* Font boyutu daha da küçültüldü */
  margin-top: 10px;
  white-space: pre-wrap; /* Satır içi alanları bozmadan metni sar */
}

input[type="text"] {
  padding: 5px; /* Padding küçültüldü */
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: calc(100% - 20px); /* Genişlik ayarlandı */
  box-sizing: border-box; /* Padding ve border genişlik hesaplamalarına dahil edilir */
}

button {
  padding: 5px; /* Padding küçültüldü */
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  width: calc(100% - 20px); /* Genişlik ayarlandı */
  box-sizing: border-box; /* Padding ve border genişlik hesaplamalarına dahil edilir */
}

button:hover {
  background-color: #0056b3;
}

/* Olumlu animasyon */
.positive-animation {
  animation: positiveEffect 1s forwards;
}

@keyframes positiveEffect {
  0% { background-color: #fff; }
  50% { background-color: #d4edda; }
  100% { background-color: #fff; }
}

/* Olumsuz animasyon */
.negative-animation {
  animation: negativeEffect 1s forwards;
}

@keyframes negativeEffect {
  0% { background-color: #fff; }
  50% { background-color: #f8d7da; }
  100% { background-color: #fff; }
}

/* Mobil uyumluluk için medya sorguları */
@media (max-width: 768px) {
  .player {
    width: calc(100% - 1px); /* Mobilde tam genişlik */
    margin: 2px 0; /* Üst ve alt boşluk ayarlandı */
  }

  .player-name {
    font-size: 14px; /* Mobilde font boyutu küçültüldü */
  }

  .player-score {
    font-size: 10px; /* Mobilde font boyutu küçültüldü */
  }

  .result {
    font-size: 8px; /* Mobilde font boyutu küçültüldü */
  }

  input[type="text"], button {
    width: calc(100% - 16px); /* Mobilde genişlik ayarlandı */
    padding: 5px; /* Mobilde padding küçültüldü */
    margin: 5px 0; /* Mobilde margin küçültüldü */
  }

  button {
    padding: 6px 12px; /* Mobilde padding küçültüldü */
  }
}