body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 1000px; /* Maksimum genişlik 1000 piksel yapıldı */
  width: 100%;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.language-toggle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.language-toggle img {
  width: 40px;
  height: 30px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.language-toggle img:hover {
  border-color: #007bff;
}

footer {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

footer p {
  margin: 0;
}

.player {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}

.player.current {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  50% {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}

input[type="text"], button {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: calc(100% - 24px);
}

button {
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #218838;
}

.result {
  font-size: 20px;
  margin-top: 10px;
}

/* Olumlu animasyon */
.positive-animation {
  animation: positiveEffect 1s forwards;
}

@keyframes positiveEffect {
  0% { background-color: #fff; }
  50% { background-color: #d4edda; }
  100% { background-color: #fff; }
}

/* Olumsuz animasyon */
.negative-animation {
  animation: negativeEffect 1s forwards;
}

@keyframes negativeEffect {
  0% { background-color: #fff; }
  50% { background-color: #f8d7da; }
  100% { background-color: #fff; }
}

/* Mobil uyumluluk için medya sorguları */
@media (max-width: 768px) {
  .container {
    padding: 10px;
    max-width: 90%; /* Genişliği %90'a düşürüldü */
  }

  .language-toggle img {
    width: 30px;
    height: 20px;
  }

  .result {
    font-size: 16px;
  }

  input[type="text"], button {
    padding: 8px;
    width: calc(100% - 16px);
    margin: 8px 0;
  }

  button {
    padding: 8px 16px;
  }

  footer {
    font-size: 12px;
  }
}