body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 1000px; /* Maksimum genişlik 1000 piksel yapıldı */
  width: 100%;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.language-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.language-toggle img {
  width: 30px;
  height: 20px;
  margin-left: 10px;
}

.player {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}

.player.current {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  50% {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}

input[type="text"], button {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: calc(100% - 24px);
}

button {
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #218838;
}

.result {
  font-size: 20px;
  margin-top: 10px;
}

/* Olumlu animasyon */
.positive-animation {
  animation: positiveEffect 1s forwards;
}

@keyframes positiveEffect {
  0% { background-color: #fff; }
  50% { background-color: #d4edda; }
  100% { background-color: #fff; }
}

/* Olumsuz animasyon */
.negative-animation {
  animation: negativeEffect 1s forwards;
}

@keyframes negativeEffect {
  0% { background-color: #fff; }
  50% { background-color: #f8d7da; }
  100% { background-color: #fff; }
}