.player-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.player-name-color {
  display: flex;
  align-items: center;
  flex: 1;
}

label {
  margin-right: 10px;
  min-width: 80px;
}

input[type="text"] {
  margin-right: 10px;
  flex: 1;
}

.color-picker {
  margin-left: 10px;
  width: 30px; /* Simge boyutunu küçülttük */
  height: 30px; /* Simge boyutunu küçülttük */
  border: none;
  cursor: pointer;
}

.additional-settings {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}

.add-player-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.add-player-button:hover {
  background-color: #0056b3;
}

.chair-icon {
  width: 20px; /* Simge boyutunu küçülttük */
  height: 20px; /* Simge boyutunu küçülttük */
  margin-right: 5px;
}

.digit-length-container {
  display: flex;
  align-items: center;
}

.digit-length-label {
  margin-right: 10px;
}

.digit-length-select {
  padding: 10px;
  width: 120px; /* Genişliği artırıldı */
  border-radius: 5px;
  border: 1px solid #ccc;
}

.start-game-button {
  display: block;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-game-button:hover {
  background-color: #218838;
}