#name-inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.player-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 45%; /* İki oyuncunun yan yana gelebilmesi için genişlik ayarlandı */
}

.player-name-color {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.2em; /* Yazı boyutunu büyüttük */
}

label {
  margin-right: 10px;
  min-width: 80px;
}

input[type="text"] {
  margin-right: 10px;
  flex: 1;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-width: 150px; /* Minimum genişlik eklendi */
}

input[type="color"] {
  margin-left: 3px;
  width: 60px; /* Simge boyutunu küçülttük */
  height: 30px; /* Simge boyutunu küçülttük */
  border: none;
  cursor: pointer;
}

.remove-player-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 2px;
  padding: 0;
}

.trash-icon {
  width: 16px; /* Boyutu küçülttük */
  height: 16px; /* Boyutu küçülttük */
}

.additional-settings {
  display: flex;
  flex-direction: column; /* Tek sütun halinde düzenleme */
  align-items: center;
  width: 100%; /* Genişliği ayarlandı */
  margin-top: 20px;
}

.add-player-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background 0.3s;
  margin-bottom: 10px; /* Alt boşluk eklendi */
}

.add-player-button:hover {
  background-color: #0056b3;
}

.chair-icon {
  width: 20px; /* Simge boyutunu küçülttük */
  height: 20px; /* Simge boyutunu küçülttük */
  margin-right: 5px;
}

.digit-length-container {
  display: flex;
  align-items: center;
}

.digit-length-label {
  margin-right: 10px;
}

.digit-length-select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.start-game-button {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.start-game-button:hover {
  background-color: #218838;
}

/* Mobil uyumluluk için medya sorguları */
@media (max-width: 768px) {
  .player-input {
    width: 100%; /* Mobilde tam genişlik */
    margin-bottom: 15px;
  }

  .player-name-color {
    flex-direction: column; /* Mobilde dikey hizalama */
    align-items: flex-start;
  }

  label {
    margin-bottom: 5px; /* Mobilde alt boşluk eklendi */
  }

  input[type="text"] {
    width: calc(100% - 20px); /* Mobilde genişlik ayarlandı */
    margin-bottom: 10px; /* Mobilde alt boşluk eklendi */
  }

  input[type="color"] {
    width: 40px; /* Mobilde genişletildi */
    height: 40px; /* Mobilde genişletildi */
    /* align center */
    display: flex;
    justify-content: center;
    margin-left: 50%;
    align-items: center;
    text-align: center;
  }

  .remove-player-button {
    width: 40px; /* Mobilde genişletildi */
    height: 40px; /* Mobilde genişletildi */
    margin-top: 2px; /* Mobilde üst boşluk eklendi */
    display: flex;
    justify-content: center;
    margin-left: 50%;
    align-items: center;

  }

  .additional-settings {
    align-items: flex-start; /* Mobilde sola hizalama */
  }

  .add-player-button {
    width: 100%; /* Mobilde tam genişlik */
    justify-content: center; /* Mobilde ortalama */
  }

  .digit-length-container {
    width: 100%; /* Mobilde tam genişlik */
    justify-content: space-between;
    margin-top: 10px;
  }

  .digit-length-label, .digit-length-select {
    width: calc(50% - 10px); /* Mobilde yarı genişlik */
  }

  .start-game-button {
    width: 100%; /* Mobilde tam genişlik */
    margin-top: 20px; /* Mobilde üst boşluk eklendi */
  }
}